
<p>Podaj imie</p>

<input type="text" #name>
<button (click)="sayHello(name.value)">Przywitaj sie</button>
{{messageForUser}}

<br><br>
<input type="text" #dogId>
<button (click)="returnDog(dogId.value)">Wybierz id psa</button>
<!--{{rootObject.name}}-->

<br><br>
<input [ngModel]="rootObject?.name" (ngModelChange)="rootObject.name = $event" />
<h2>{{rootObject?.name}} details!</h2>

<div>
  <label>birthDate: </label>{{rootObject?.birthDate}}
</div>
<textarea [ngModel]="rootObject?.birthDate" (ngModelChange)="rootObject.birthDate = $event" ></textarea>

<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
